body {
    background-color: black;
    color: aqua;
}


footer.absolute {
    position: absolute;
    bottom: 10px;
    width: 50%;
    border: 3px solid #8AC007;
}

.asp_ListBox {
    border: 3px solid #8AC007;
}

.asp_debug_listBox {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    color:or
}

#debug_div {
    width: 50%;
    text-align: left;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    text-align: right;
}


#debug_div h1 {
    color:yellow;
}